**.clustta
**.clst
**.blend
**.blend1
.VSCodeCounter
jornal_performance.csv
cli_program_performance.csv
*.csv
*.exe
tests/
dist/
.DS_Store
cmd/demo*
tmp/
data/
projects/
.env
config.json
studio_config.json
cmd/studio_server/letsencrypt

.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
*.syso
/test_data
/svn_bin_win
/_benchmark/output
/_benchmark/svn_bin_win
/_benchmark/test_data
/_benchmark/data_set
/_benchmark/*.json
/_benchmark/output**
newData*
clustta.pkg